<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Management System</title>

    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/addMedicine.css">
    <link rel="stylesheet" href="./css/manageMedicineStock.css">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

        <style>

            @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');
    
            *{
                font-family: Arial, Helvetica, sans-serif;
                font-family: 'Rubik', sans-serif;
            }
    
            body{
                background-color: #ebf4f2;
            }
    
            .big-heading{
                background: #6bae9c;    
                font-weight: 600;
                font-size: 20px;
                padding: 20px;
                color: #fff;
            }
    
            .container-heading h2{
                
                border-radius: 20px;
                width: 30%;
                margin: auto;
                color: #6bae9c;
                margin-top: 70px;
               
            }
            
            .main-container{
                background-color: #fff;
                box-shadow: 0px 5px 20px 5px #cee4de80;
                width: 70%;
                margin: auto;
                z-index: -1;
                
                margin-bottom: 100px !important;
                padding: 50px;
                box-sizing: border-box;
                
            }
    
            .main-container input, .main-container select{
                width: 100%;
                padding: 20px;
                box-sizing: border-box;
                border-radius: 2px;
                background: #cee4de50;
                margin-bottom: 15px;
                border: none;
                margin-top: 5px;
            }
    
            .main-container label{
                color: #6bae9c;
            }
    
            .main-container button{
                background: linear-gradient(to bottom right, #14d8e8, #56f99f);
                padding: 15px 50px;
                border-radius: 5px;
                color: #000;
                border: none;
                font-weight: bold;
                
            }
    
        </style>
</head>

<body>

    <!-- Nav Bar -->
    <div class="big-heading">Medical Management System</div>
    <div class="navbar">
        <a href="/">Dashboard</a>
        <div class="dropdown">
            <button class="dropbtn">Invoice
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/newInvoice">Add New Invoice</a>
                <a href="../invoice/manageInvoice.html">Manage Invoice</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Customer
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/addCustomer">Add New Customer</a>
                <a href="/manageCustomer">Manage Customer</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Medicine
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/addMedicine">Add New Medicine</a>
                <a href="/manageMedicine">Manage Medicine</a>
                <a href="/manageMedicineStock">Manage Medicine Stock</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Supplier
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/addSupplier">Add New Supplier</a>
                <a href="/manageSupplier">Manage Supplier</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Purchase
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/addPurchase">Add New Purchase</a>
                <a href="/managePurchase">Manage Purchase</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Report
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="../report/purchaseReport.html">Purchase Report</a>
                <a href="../report/salesReport.html">Sales Report</a>
            </div>
        </div>

    </div>
    <div class="container-heading"><h2>Manage Customer</h2> </div>


    <!-- Manage Customer -->
    <div class="main-container">
        
        <div class="main-content">
            <!-- <form action=""> -->

                <div class="form-two-col">
                    <label> Search :</label>
                    <input type="text" name="supplier" id="supplier" placeholder="By Supplier">
                </div>

                <hr>

                <div class="table-container">
                    <table>
                        <tr>
                            <th>SL.</th>
                            
                            <th>Customer Name</th>
                            <th>Contact Number</th>
                            <th>Address</th>
                            <th>Doctor's Name</th>
                            <th>Doctor's Address</th>
                            <th>Action</th>
                        </tr>
                        <% customers.forEach((customer, index) => { %>
                            <tr>
                                <td><%= index + 1 %></td>
                              
                                <td><%= customer.customer_name %></td>
                                <td><%= customer.contact_number %></td>
                                <td><%= customer.address %></td>
                                <td><%= customer.doct_name %></td>
                                <td><%= customer.doct_add %></td>
                                <td>
                                    <div style="display: flex;">
                                        <button style="margin-right: 5px; padding: 10px;">edit</button>
                                        <button style="margin-right: 5px; padding: 10px;">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        <% }); %>
                    </table>
                </div>
            <!-- </form> -->
        </div>
    </div>
</body>

</html>